button {
  border: 0;
  border-radius: 3rem;
  font-size: 1rem;
  height: 100%;
  padding: 10px;
  width: 33%;
  min-width: fit-content;
  background-color: rgba($color: var(--button-color), $alpha: 0.7);
  background-color: var(--button-color);
  color: white;

  &:hover {
    background-color: var(--button-color-hover);
  }

  &:active {
    background-color: var(--button-color-active);
  }

  &:disabled {
    background-color: var(--button-color-disabled);
    cursor: not-allowed;
  }
}