.form__container {
  background-color: var(--primary-color);
  width: 99%;
  margin: calc(44px + 1vw);
  margin-bottom: 0.5vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  max-width: calc(800px + 5vw);
  transition: background-color 0.5s;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  height: 5vw;
  min-height: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.form__textarea {
  width: 100%;
  height: 100%;
  padding: 11px;
  border: 1px solid var(--secondary-color);
  border-radius: 3em;
  resize: none;
  transition: background-color 0.5s, border 0.5s, border-radius 1s;
  background-color: var(--primary-color);
  color: var(--font-color);

  @media screen and (min-width: 600px) {
    border-radius: 1rem;
  }

}

.button__container {
  display: flex;
  width: 100%;
  min-height: 3em;
  justify-content: space-between;
  transition: width 1s;

  @media screen and (min-width: 600px) {
  }
}

h2 {
  font-size: 16px;
  font-weight: 400;
  min-height: 3rem;
  display: flex;
  align-items: center;
}