:root {
  --font-color: #333;
  --primary-color: white;
  --secondary-color: whitesmoke;
  --prompt-color: rgba(31, 207, 0, 0.7);
  --response-color: rgba(169, 169, 169, 0.7);
  --primary-color-transparent: rgba(255, 255, 255, 0.7);
  --button-color: rgba(81, 174, 255, 0.7);
  --button-color-hover: rgba(81, 174, 255, 0.8);
  --button-color-active: rgba(81, 174, 255, 0.9);
  --button-color-disabled: rgba(81, 174, 255, 0.3);
}

[data-theme="dark"] {
  --font-color: #eee;
  --secondary-color: black;
  --primary-color: rgb(30, 30, 30);
  --primary-color-transparent: rgb(30, 30, 30, 0.7);

}

body {
  background: var(--secondary-color);
  color: var(--font-color);
  transition: background-color 0.5s
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: var(--button-color);
}

.slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;

}

.slider.round:before {
  border-radius: 50%;
  background-color: var(--primary-color);
}

.icon {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}